<div class="heading">
  <button mat-icon-button color="basic"
          class="menu"
          cdkOverlayOrigin
          #triger="cdkOverlayOrigin"
          (click)="isHamburgerMenuOpen=!isHamburgerMenuOpen">
    <mat-icon style="color: white">
      {{isHamburgerMenuOpen ? 'close' : 'menu'}}
    </mat-icon>
  </button>

  <div class="con">
    <div class="item" *ngFor="let item of items" [routerLink]="item[1]">
      {{item[0]}}
    </div>
  </div>

  <input type="text" class="searchbar"
         placeholder="搜索文章(回车)"
         [(ngModel)]="searchContent"
         (keyup.enter)="search()"
  >

  <img src="assets/logo.png" alt="" class="logo">


</div>
<router-outlet></router-outlet>

<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="triger"
             [cdkConnectedOverlayOpen]="isHamburgerMenuOpen"
>
  <div class="attachment">
    <ul>
      <li [routerLink]="['/articles']" (click)="isHamburgerMenuOpen=false;">
        <mat-icon>article</mat-icon>
        文章
      </li>
      <li [routerLink]="['/category']" (click)="isHamburgerMenuOpen=false;">
        <mat-icon>category</mat-icon>
        分类
      </li>
      <li [routerLink]="['/contact-me']" (click)="isHamburgerMenuOpen=false;">
        <mat-icon>person_add</mat-icon>
        与我联系
      </li>
    </ul>
  </div>

</ng-template>
