<div style="padding: 1.5rem">
  <label>
    文章集合名称
  </label>
  <input type="text" [(ngModel)]="newTitle">
  <br>
  <label>
    集合描述
  </label>
  <input type="text" [(ngModel)]="newDescription">
  <label>
    搜索
  </label>
  <input type="text" (keydown.enter)="search($event)">
  <button mat-raised-button color="accent"
          (click)="createANewCategory()"
  >
    新增
  </button>
  <button mat-raised-button color="primary"
          (click)="refresh()"
  >
    刷新
  </button>

  <mat-accordion>
    <ng-container *ngFor="let cat of categories$ |async">
      <mat-expansion-panel
        (opened)="select(cat.id)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-raised-button color="accent">{{cat.name}}</button>

          </mat-panel-title>
          <mat-panel-description>
            <button mat-icon-button color="accent"
                    (click)="$event.stopImmediatePropagation();
        deleteOne(cat.id,cat.name)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>
          概述: {{cat.description}}
        </p>

        <div *ngFor="let article of articles$|async">
          <div>标题:{{article.name}}</div>
          <button mat-flat-button color="primary"
                  class="x-margin"
          (click)="checkArticle(article.id)"
          >
            查看
          </button>

          <button mat-flat-button color="primary"
                  (click)="
                  deleteAnArticle(article.id,article.name)"
                  class="x-margin">
            删除
          </button>
        </div>


      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>


</div>
